@import "globals";
@import "static";

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/image\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100;

  &-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $black-bg;
    padding: $padding-gen;
    position: fixed;
    width: 100%;
    z-index: 200000;


    ul {
      li {
        color: $white-bg;
        // text-align: center;
        padding-left: 1rem;
        margin-top: 1rem;
      }
    }

    h1 {
      @include white;
      text-align: center;

      span {
        @include yellow;
      }
    }
  }
  &__h1 {
    @include white;
    @include white;
    font-weight: map-get($font-weight, regular);
    padding: 6rem $padding-gen $padding-XXL $padding-gen;
    text-align: center;
    margin-top: 2rem;

    span {
      //       @include yellow;
      @include yellow;
    }
  }
  &__p {
    font-size: map-get($font-size, regular);
    line-height: map-get($line-height, medium);
    margin: $margin;
    @include white;
  }
  .header-last-section {
    display: flex;
    flex-direction: column;
    background-color: $black-bg;
    @include white;
    //   padding: $padding-S;

    p {
      padding: $padding-L;
      text-align: center;
    }
    input {
      padding: $padding-S;
      margin-bottom: $margin-S;
      border-radius: 3px;
      border: none;
      background: $white-bg;
      width: 93%;
      margin-inline: auto;
    }
    button {
      width: 20%;
      margin-inline: auto;
      background: $yellow-bg;
      border-radius: 7px;
      outline: none;
      border: none;
      padding: 0.5rem 1rem;
      @include white;
      margin-bottom: 1rem;
    }
  }
}

.line {
  width: 40px;
  height: 20px;
  // background-color: #dea103;
  margin: 5px;
  margin-right: 0;
  cursor: pointer;

  div {
    width: 30px;
    height: 15px;
    margin: 3px;
    margin-right: 0;
    position: relative;
  }
  span {
    background: $yellow-bg;
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
  }
  .line1 {
    transform: translate(-50%, -10px);
    width: 70%;
  }

  .line3 {
    transform: translate(-50%, 8px);
    width: 70%;
  }
}
.openmenu .line1 {
  transform: translate(-50%, -10%) rotate(-45deg);
}
.openmenu .line3 {
  transform: translate(-50%, -10%) rotate(45deg);
}
.openmenu .line2 {
  width: 0;
}

.sponsor-logos {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
  margin: 1rem 0;
  width: 90%;

  > * {
    justify-self: center;
    align-self: center;
  }
  .puma {
    margin-bottom: 2.5rem;
  }
  .amazon {
    grid-column: 1/3;
  }
}
.goal {
  text-align: center;
  line-height: map-get($line-height, medium);
  @include padding;

  span {
    @include yellow;
    border-bottom: 2px solid $yellow-bg;
  }
}
.aim {
  display: flex;
  flex-direction: column;
  padding: $padding-gen;
  margin-top: 2rem;

  .food,
  .clothing,
  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.9rem;

    > * {
      padding: 0.3rem $padding-gen;
    }

    p {
      text-align: center;
      line-height: map-get($line-height, medium);
    }
  }
}

.section-split {
  background: $black-bg;
  // @include padding;
  padding: $padding-gen;
  @include white;

  h2 {
    padding: $padding-gen;
    padding-bottom: $padding-XL;

    span {
      @include yellow;
    }
  }
  p {
    padding: $padding-gen;
  }

  img {
    width: 100%;
    padding: $padding-gen;
  }
  .inner-btn {
    display: flex;
    flex-direction: column;

    button {
      width: 30%;
      margin-inline: auto;
      margin-bottom: $margin-S;
      //    background-color: red;
      border-radius: 3px;
      border: none;
      padding: 5px 10px;
      height: 40px;
      min-width: 130px;
    }
  }

  .css-button-sliding-to-left--yellow {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #dea103;
    overflow: hidden;
    // border: 2px solid #dea103;
  }
  .css-button-sliding-to-left--yellow:hover {
    color: #fff;
  }
  .css-button-sliding-to-left--yellow:hover:after {
    width: 100%;
  }
  .css-button-sliding-to-left--yellow:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: $white-bg;
  }
}
.mission {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin-bottom: 2rem;
    color: rgb(0, 0, 0, 0.4);
    font-weight: map-get($font-weight, regular);
    font-size: map-get($font-size, regular);
  }
  h1 {
    text-align: center;
    padding: 0 $padding-gen;

    span {
      @include yellow;
    }
  }
  p {
    text-align: center;
    padding: $padding-gen;
  }
}
.straight {
  width: 30%;
  background: $yellow-bg;
  height: 2px;
  margin: 0.5rem 0 $padding-XL 0;
}
.goals {
  img {
    width: 100%;
  }
  .education_info,
  .food_info,
  .clothing_info {
    text-align: center;

    .education-goal h2,
    .food-goal h2,
    .clothing-goal h2 {
      margin-top: 0.2rem;
      padding: $padding-gen 0;
    }
    h3 {
      padding: $padding-gen 0;
    }
    p:last-of-type {
      margin-bottom: 3rem;
    }
  }
  .education-goal p,
  .food-goal p,
  .clothing-goal p {
    text-align: center;
    padding: $padding-gen;
  }

  .education-goal h3,
  .food-goal h3,
  .clothing-goal h3 {
    text-align: center;
    padding: $padding-gen;
  }
}

.testimonials {
  background: rgba(218, 217, 217, 0.27);
  text-align: center;
  padding-bottom: 3rem;

  &_h2 {
    color: rgb(0, 0, 0, 0.4);
    padding: $padding-gen 0;
    text-transform: uppercase;
  }
  &_h3 {
    width: 100%;
    text-align: center;

    span {
      @include yellow;
    }
  }
  img {
    width: 100%;
    margin-top: rem;
  }
}
.straight_ {
  margin-top: 1rem;
  width: 20%;
  background: $yellow-bg;
  height: 2px;
  margin-inline: auto;
}
.testimonial-statistics {
  width: 80%;
  background: rgba(17, 17, 17, 0.8);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  color: $white-bg;
  margin-inline: auto;

  .stats {
    padding: 0.5rem 0;
    h2 {
      font-size: map-get($font-size, large);
      margin: 0.3rem 0;
    }
    p:last-of-type {
      padding-bottom: $padding-gen;
    }
  }
}

.last_section {
  margin-top: 5rem;
  padding: $padding-gen;
  text-align: center;

  .inner-btn_ {
    display: flex;
    flex-direction: column;
    margin-top: 0.9rem;
  }
  button {
    width: 30%;
    margin-inline: auto;
    margin-bottom: $margin-S;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    height: 40px;
    min-width: 130px;
    border: 2px solid black;
  }
  .css-button-sliding-to-left--yellow {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #dea103;
    border: none;
  }
  .css-button-sliding-to-left--yellow:hover {
    color: #fff;
  }
  .css-button-sliding-to-left--yellow:hover:after {
    width: 100%;
  }
  .css-button-sliding-to-left--yellow:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: $white-bg;
  }
}

footer {
  background: $black-bg;
  @include white;
  padding: $padding-gen;

  .end {
    h1 {
      @include white;
      padding: $padding-gen 0;
      text-align: center;

      span {
        @include yellow;
      }
    }
    p {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;

  > * {
    margin: 2rem;
  }
}
.org-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: $margin;
  // background: #dea103;
  .contact-us {
    text-align: center;
  }
  .about {
    text-align: center;
  }
}
.form_ {
  padding: $padding-S;
  h2 {
    font-size: map-get($font-size, large);
    padding-bottom: $padding-S;
  }
  p{
    margin-bottom: $margin;
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      padding: $padding-gen;
      margin-bottom: $margin;
      border-radius: 7px;
      border: none;
    }
    button {
      width: 30%;
      height: 40px;
      color: #fff;
      padding: 10px 15px;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 5px;
      background: #dea103;
      margin: 0 auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border: #dea103;
    }

    button:hover {
  color: #fff;
}
button:hover:after {
  width: 100%;
}
button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: $white-bg;
}
  }
}
.btn___ {
  width: 50%;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  background: #dea103;
  overflow: hidden;
  // margin: 0 auto;
  margin-left: 1rem;
  margin-top: 1rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
}
.btn___:hover {
  color: #fff;
}
.btn___:hover:after {
  width: 100%;
}
.btn___:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: $white-bg;
}
.nav-bar {
  display: none;
  position: absolute;
  background: $yellow-bg;
  width: 40%;
  height: 31vh;
   transition: all 0.7s ease-out;
  border-bottom-left-radius: 7px;
  transform: translateX(16.2rem);
  top: 62px;
  overflow: hidden;
}
.visible {
  display: block;
}
